
.image-link-form {
    max-width: 800px;
    min-width: 380px;
}

.image-link-form p {
    margin-top: 0;
    font-size: 26px;
}

.image-link-form div {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.image-link-form input {
    width: 340px;
}
