
.logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(135, 135, 135, 0.25);
    font-size: 40px;
    user-select: none;
}

a {
    font-size: 30px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
