
.image-recognition-result {
    max-width: 800px;
    min-width: 380px;
    margin: 10px auto 0;
    padding-top: 30px;
    text-align: center;
}

.image-recognition-result img {
    width: 100%;
    border-radius: 8px;
}

.relative-container {
    position: relative;
}

.bounding-box {
    position: absolute;
    border: 3px solid #1953f0;
}
