
.image-link-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;

    max-width: 800px;
    min-width: 380px;
    margin: 80px auto 0;
    padding: 22px;
    border-radius: 16px;
    box-shadow: 5px 5px 20px -8px black;
}

.image-link-form label {
    font-size: 26px;
}

.image-link-form div {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.image-link-form input {
    width: 340px;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid #ffffff80;
    border-radius: 8px;
    outline: none;
    color: inherit;
    font-size: 21px;
    transition: .2s;
}

.image-link-form input:focus {
    background-color: #00000033;
}
